// page index
button{
    &:focus{
        outline: none;
    }
}

.about{
    button{
        border: 1px solid transparent;
        color: white;
        padding: 1rem 3rem;
        background: $color-green;
        transition: all .3s;
        border-radius: $b-radius3;
        @include button;
    }
}

// page cours proff
.form-prof{
    button{
        width: 100%;
        padding: 1rem 2rem;
        border: 1px solid transparent;
        border-radius: $b-radius3;
        transition: all .3s;

        @include button;
    }
}

// button reservation
.reservation{
    button{
        width: 80%;
        padding: .5rem 2rem;
        border-radius: $b-radius3;
        border: 1px solid $color-green;
    }
}

.profil-card{
    & button{
        width: 100%;
        padding: 1rem;
        margin-top: 1rem;
        border: 1px solid transparent;
        border-radius: $b-radius3;
        color: $color-white;
        background: linear-gradient(45deg, #117a8b, #117a8b)
    }
}

.message-card{
    & button{
        padding: .6rem 3rem;
        margin-top: 1rem;
        border: 1px solid transparent;
        border-radius: $b-radius3;
        color: $color-white;
        background: $color-primary;

        &:focus{
            outline: none;
        }

        @include responsive(tab-land){
            padding: 1rem;
        }

        @include responsive(phone){
            padding: .5rem;
            font-size: 1.2rem;
        }
    }
}

.annonce-card{
    & button{
        padding: .6rem 3rem;
        margin-top: 1rem;
        border: 1px solid $color-wfade;
        border-radius: $b-radius3;
        color: $color-wfade;
        background: transparent;
    }

    @include responsive(tab-land){
        & button{
            margin-top: 0;
            margin-bottom: 1rem;
        }
    }
}

.annonce-btn{
    & button{
        width: 100%;
        border-radius: $b-radius3;
        background: $color-primary;
        color: $color-white;
        border: 1px solid transparent;
        padding: 1rem 0;

        @include responsive(phone){
            margin-bottom: 3rem;
        }
    }
}

.annonce-masterclass-card{
    & .annonce-btn{
        & button{
            padding: 1rem 3rem;

            @include responsive(phone){
                margin: 1rem 0 0;
            }
        }
    }
}

.general-btn{
    padding: .5rem 5rem;
    border-radius: $b-radius3;
    background: $color-primary;
    color: $color-white;
    border: 1px solid transparent;

    @include responsive(big-desktop){
        padding: .5rem 2rem;
    }
}

.profil-notification{
    & button{
        width: 100%;
        padding: 2rem;
        text-align: left;
        border: 1px solid transparent;
        border-radius: $b-radius;
        margin-bottom: 1rem;
        display: flex;
        align-items: center;
    }
}

.profil-suppression{
    & form{
        & button{
            width: 100%;
            padding: 2rem;
            text-align: left;
            border: 1px solid transparent;
            border-radius: $b-radius;
            margin-bottom: 1rem;
            display: flex;
            align-items: center;
        }
    }
}

.bg-modal{
    & .btn-confirme{
        background: $color-primary;
        color: $color-white;
        padding: .7rem 3rem;
        border-radius: $b-radius3;
        width: 15rem;
        border: 1px solid transparent;
        transition: all .3s;

        &:hover{
            transform: scale(1.05);
        }
    }
}

.matiere-proposition{
    & .btn-matieres{

        & input{
            width: initial!important;
            border-radius: $b-radius3!important;
            background: $color-white;
            color: $color-dark;
            border: 1px solid transparent;
            margin-bottom: 1rem;
            padding: .5rem 1rem!important;

            &:hover{
                background: $color-dark;
                color: $color-white;
            }
        }

        @include responsive(phone){
            & button{
                padding: .5rem 1rem;
                margin: 0 .5rem 1rem 0;
                font-size: 1rem;
            }
        }
    }
}

.titre-consigne{
    &__langue{
        & button{
            padding: .5rem 1rem;
            border: 1px solid transparent;
            border-radius: $b-radius3;
            transition: all .3s;
            font-size: 1.3rem!important;

            &:hover{
                color: $color-white;
                background: $color-dark;
            }
        }
    }
}

.recommande-link{
    & button{
        border: 1px solid transparent;
        border-radius: $b-radius3;
        padding: .7rem 3rem;
        margin: 0 .5rem;
        color: $color-white;
        font-size: 1.5rem;

        @include responsive(big-desktop){
            margin-bottom: 1rem;
        }
    }

    & .btn-email{
        background: #f24c3d;
    }

    & .btn-facebook{
        background: rgb(58, 87, 148);
    }

    & .btn-linkedin{
        background: rgb(1, 119, 180);
    }

    @include responsive(tab-port){
        & button{
            padding: .5rem 2rem;
            margin-bottom: 1rem;
        }
    }
}

.view-profil{
    &__rblock{
        & button{
            padding: 1rem 2rem;
            border: 1px solid transparent;
            background: $color-primary;
            color: $color-white;
            border-radius: $b-radius3;
            margin-bottom: 1rem;

            &:focus{
                outline: none;
            }

            @include responsive(phone){
                padding: .5rem 2rem;
                font-size: 1.3rem;
            }
        }
    }
}

.bg-annonce{
    & button{
        &:focus{
            outline: none;
        }
    }
}

// .btn-message{
//     & button{
//         padding: 1rem 4rem;
//         border-radius: $b-radius;
//         transition: all .3s;
//         color: $color-white;

//         &:hover{
//             transform: scale(1.1);
//             color: $color-white;
//         }

//         &:focus{
//             outline: none;
//         }
//     }

//     & .rejet{
//         border: 1px solid rgb(218, 66, 66);
//         margin-right: 2rem;
//         background: rgba(218, 66, 66, 0.712);

//         &:hover{
//             background: rgb(218, 66, 66);
//         }
//     }

//     & .accept{
//         border: 1px solid green;
//         background: rgba(0, 128, 0, 0.534);

//         &:hover{
//             background: green;
//         }
//     }
// }

.btn-finalisationDemande{
    padding: .5rem!important;
    border-radius: .3rem!important;
    margin-top: 0!important;

    @include responsive(tab-port){
        font-size: 1.4rem;
    }
}

.btn-signal{
    border: none;
    background-color: transparent;  
    color: $color-dark;
    font-size: 1.4rem;
    font-style: italic;
    cursor: pointer;
}

.btn-partage{
    border: none;
    border-radius: $b-radius3;
    padding: 1rem 3rem;
    color: $color-white;

    @include responsive(tab-land){
        margin-bottom: 1rem;
    }

    @include responsive(phone){
        padding: .5rem 1rem;
        font-size: 1.2rem;
    }
}

.btn-mail{
    background-color: #d4483b;
}

.btn-facebook{
    background-color: #149cf8;
}

.btn-messenger{
    background-color: #02a2fe;
}

.btn-linkedin{
    background-color: #0474b3;
}

.btn-demande{
    padding: .7rem 1rem;
    color: $color-white;
    border-radius: $b-radius;
    transition: all .3s;
    font-size: 1.3rem;

    &:hover{
        transform: scale(1.05);
    }
}

.btn-demande-refuser{
    border: 1px solid rgb(212, 35, 35);
    background-color: rgba(212, 35, 35, 0.61);
    transition: all .3s;
    
    &:hover{
        background: rgb(212, 35, 35);
    }
}

.btn-demande-Accepter{
    border: 1px solid green;
    background-color: rgba(0, 128, 0, 0.671);
    transition: all .3s;
    
    &:hover{
        background-color: green;
    }
}

.btn-prof{
    padding: .5rem 1rem;
    border: 1px solid $color-primary;
    border-radius: .5rem;
    color: $color-primary;
    background: transparent;
    transition: all .5s;

    &__note{
        padding: .5rem 3rem;
        color: $color-white;
        border-color: $color-white;
        transition: all .3s;

        &:hover{
            border-color: $color-primary;
            color: $color-primary;
        }
    }

    &:focus{
        outline: none;
    }

    &:hover{
        transform: scale(1.1);
    }
}

.btn-recupe{
    padding: 1rem 3rem;
    border: 1px solid transparent;
    background: $color-primary;
    color: $color-white;
    border-radius: $b-radius;
}

.btn-mail-OK{
    padding: .5rem;
    border: 1px solid $color-green;
    background-color: $color-green;
    color: $color-white;
}

.annonce-btn-view{
    & button{
        padding: 1rem 3rem;
        border: 1px solid $color-primary;
        border-radius: $b-radius;
        background: $color-primary;
        color: $color-white;
        transition: all .2s;

        &:focus{
            outline: none;
        }

        &:hover{
            box-shadow: 0px 0px 11px 1px #d4d4d4;
        }
    }
}

.btn-abonnement{
    padding: .5rem 2rem;
    border: 1px solid $color-green;
    color: $color-white;
    border-radius: $b-radius;
    background: $color-green;
    transition: all .3s;

    &:hover{
        transform: scale(1.05);
    }

    @include responsive(phone){
        font-size: 1.5rem;
    }
}

.btn-validation{
    padding: 1rem 5rem;
    background: transparent;
    border: 1px solid #6b62ff;
    border-radius: $b-radius;
    transition: all .2s;

    &:hover{
        background-color: #6b62ff;
        color: $color-white;
    }
}

.btn-abonnement-2{
    background-color: rgba(243, 57, 57, 0.815);
    color: $color-white;
    border: 1px solid transparent;
    padding: .5rem 2rem;
    float: right;
    border-radius: $b-radius;

    @include responsive(phone){
        font-size: 1.5rem;
    }
}

.btn-retrait{
    padding: 1rem 3rem;
    border: 1px solid $color-primary;
    border-radius: $b-radius;
    background-color: transparent;
    transition: all .2s;

    &:hover{
        transform: scale(1.05);
    }

    &:focus{
        outline: none;
    }
}

.btn-congratulation{
    padding: .7rem 2rem;
    border: 1px solid $color-primary;
    background: #fa703581;
    border-radius: $b-radius;
    transition: all .3s;

    &:hover{
        transform: scale(1.05);
    }
}

// btn categorie forum ------------
.btn-categorie{
    border-radius: $b-radius3;
    padding: .5rem 1rem;
    font-size: 1.4rem;
    border: 1px solid rgb(238, 238, 238);
    background: $color-light;
    color: rgb(70, 70, 70);
    margin-bottom: .5rem;
    transition: all .3s;

    &:hover{
        background-color: $color-white;
    }
}

// btn demande retrait -----------
.btn-demande-retrait{
    padding: .7rem 2rem;
    border: 1px solid $color-primary;
    border-radius: $b-radius;
    color: $color-dark;
    background:  #fa703555;
    transition: all .3s;

    &:hover{
        color: $color-white;
        background-color: $color-primary;
    }
}