// form demande retrait ------------------
.form-demande{
    & label{
        color: rgba(0, 0, 0, 0.5);
    }

    & input{
        width: 100%;
        padding: .8rem 1rem;
        border: 1px solid rgba(0, 0, 0, 0.562);
        transition: all .3s;
        border-radius: $b-radius;
        
        &:focus{
            border: 1px solid $color-primary;
        }
    }
}