/* © Devsfront
// Autor: SORO DAOUDA
/* Copyright Not A Number and his devs

                    .
                    d8b
                d88888b
                d888Y Y888b
            d888Y  .  Y888b
            d888Y   d8b   Y888b
        d888Y   d88888b   Y888b
            ""   d888Y Y888b   ""
            d888Y  .  Y888b
                ""   d8b   ""
                d88888b
8888b   88888     Y8b     8888b   88888
    8888b   888       '       8888b   888
    88888b  888               88888b  888
    888Y88b 888    88888b.    888Y88b 888
    888 Y88b888    "   "88b   888 Y88b888
    888  Y88888   .d8888888   888  Y88888
    888   Y8888   888   888   888   Y8888
88888   Y888   "Y88888"88 88888   Y888 
/*---------------------------------------------
*
* MAIN.CSS
*
*/

/* General code*/

*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-size: 1.8rem;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

// list
li{
    list-style: none;
}

// link
a{
    &:hover{
        text-decoration: none;
    }

    &:focus{
        outline: none!important;
    }
}

// form
button{
    cursor: pointer;
    &:focus{
        outline: none;
    }
}

input{
    outline: none;

    @include responsive(phone){
        font-size: 1.3rem;
    }
}

textarea{
    outline: none;
}

p{
    font-size: 1.7rem;
    font-family: 'Raleway', sans-serif;

    @include responsive(phone){
        font-size: 1.3rem;
    }
}

// containers
.containers{
    width: 60%;
    margin: auto;

    @include responsive(lgbig-desktop) {
        width: 90%;
    }
}

// padding
.pad-section{
    padding: 7rem 0;

    @include responsive(phone){
        padding: 5rem 0;
    }
}