.blogs{
    background: $bgcolor-money;
}

.blog-categorie{
    background: $color-primary;
    padding: .3rem 1rem;
    color: $color-white!important;
    font-size: 1.2rem;
}

.bg-blog{
    background: $color-white;
    box-shadow: $card-shadow;
    padding: 2rem;

    & p{
        color: $color-wfade;
    }

    & .article{
        padding: 2rem;
        border: 1px solid $bgcolor-money;
        background: $color-white;

        & .blog-auteur{
            color: $color-black;
            font-weight: 600;
        }

        & .img-article{
            height: 35rem;
            width: 100%;
            margin-bottom: 2rem;

            & img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        & .title-article{

            & h3{
                font-family: 'Rubik', sans-serif;
                font-weight: 700;
                margin-top: 1rem;
            }

            & .title-footer{
                margin:1rem 0 2rem;
                @include d-flex;

                & small{
                    color: $color-wfade;
                    margin-right: 2rem;

                    & img{
                        height: 2rem;
                        margin-right: 1rem;

                        @include responsive(phone){
                            height: 1.5rem;
                            margin-right: .5rem;
                            margin-bottom: .3rem;
                        }
                    }

                    @include responsive(phone){
                        font-size: 1.2rem;
                    }
                }

                & button{
                    border: 1px solid $color-primary;
                    border-radius: $b-radius3;
                    padding: 0 .5rem;
                    background: transparent;
                    color: $color-wfade;
                    
                    & img{
                        height: 2rem;
                        margin: 0 .5rem .3rem 0;

                        @include responsive(phone){
                            height: 1rem;;
                        }
                    }
                }
            }
        }

        & .content-article{
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            
            p{
                text-align: justify;
            }
        }

        & .box-commentaire{
            margin-top: 3rem;

            &__article{
                margin: 1rem 0;
                border: 1px solid $color-wfade;
                border-radius: $b-radius;
                padding: 1rem 2rem;

                &-infoComment{
                    display: flex;
                    align-items: center;

                    & img{
                        height: 7rem;
                        width: 7rem;
                        border-radius: 50%;
                        margin-right: 2rem;
                    }

                    & small{
                        color: $color-wfade;
                    }
                }
            }

            & .comment-plus{
                margin-bottom: 3rem;

                & button{
                    font-size: 1.5rem;
                    padding: .5rem 1rem;
                    border: 1px solid transparent;
                    color: $color-white;
                    background-color: $color-primary;
                    border-radius: $b-radius;
                    transition: all .3s;

                    &:hover{
                        border: 1px solid $color-primary;
                        background-color: #fa7035d5;
                    }
                }
            }

            &__form{
                & textarea{
                    width: 100%;
                    padding: 1rem;
                    border: 1px solid $color-wfade;
                }

                & input{
                    width: 100%;
                    padding: 1rem;
                    border: 1px solid $color-wfade;
                    margin-bottom: 1rem;
                }

                & button{
                    color: #FFF;
                    padding: 1rem 5rem;
                    border: 1px solid #117a8b;
                    margin: 1rem 0;
                    background: #117a8b;
                }
            }
        }

        @include responsive(phone){
            margin-bottom: 2rem;
        }
    }

    & .other-article{
        padding: 2rem;
        border: 1px solid $bgcolor-money;
        background: $color-white;
        min-height: 30rem;

        & .other-article-item{
            display: flex;
            height: 12rem;
            transition: all .3s;

            & .other-article-img{
                width: 25rem;
                height: 12rem;

                & img{
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }

                @include responsive(phone){
                    width: 100%;
                    min-height: 15rem;
                    margin-bottom: 1rem;
                }
            }

            & .other-article-text{
                padding: 0 2rem;

                & h4{
                    font-family: 'Rubik', sans-serif;
                    font-weight: 700;
                    font-size: 1.5rem;
                    color: $color-black;
                    transition: all .3s;
                }

                & p{
                    font-size: 1.3rem;
                }

                & small{
                    color: $color-wfade;

                    & img{
                        height: 2rem;
                        vertical-align: middle;
                        margin-right: 1rem;
                    }
                }
            }

            &:hover{
                transform: scale(1.03);

                & h4{
                    color: $color-primary;
                }
            }

            @include responsive(phone){
                display: block;
                min-height: 30rem;
            }
        }
    }

    @include responsive(phone){
        padding: initial;
    }
}

.paginationBlog{
    @include paginations();
}