
.confidentiality{
    &__head{
        height: 40rem;
        width: 100%;
        background-size: center;
        background-position: center;
        position: relative;

        & h2{
            position: absolute;
            bottom: 0;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.932);
            text-align: center;
            margin-bottom: 0;
            padding: 1rem 0;
            z-index: 2;
        }

        & img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        &:after{
            content: "";
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.39);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
        }
    }

    & .boder-dashed{
        border-right: 1px dashed $color-primary;

        @include responsive(tab-port){
            border-right: none;
        }
    }

    &__body{
        & .note-list{
            margin-left: 4rem;

            & li{
                list-style: circle;
            }
        }
    }

    &__note{
        min-height: 5rem;
        background: rgba(247, 150, 22, 0.274);
        border-left: 2px solid $color-primary;
        padding: 2rem;
        border-radius: $b-radius;

        & img{
            height: 2rem;
            vertical-align: middle;
            margin: 0 .5rem .5rem 0;
        }
    }
    
}