.logo-wrapper{
    text-align: center;

    & img{
        height: 5rem;
    }

    @include responsive(phone){
        & img{
            height: 3rem;
        }
    }
}

.message{
    & img{
        height: 3rem;
        width: 3rem;
        border-radius: 50%;
    }
}

.custom-scrollbar{
    & .dropdown ul{
        visibility: visible;
        opacity: 1;
        top: 20%;

        & li{
            opacity: 1;
            transform: initial;
        }
    }
}

.link-a{
    a{
        color: inherit;

        &:hover{
            color: inherit;
        }
    }
}

.bg-modal{
    background: #ffffffd9;

    & .modal-content{
        border: none;
        border-radius: 1.5rem;
    }

    & .modal-header{
        padding: 2rem;

        & h5{
            font-size: 2.5rem;
        }
    }

    & .modal-body{
        padding: 2rem;
    }

    & .modal-footer{
        padding: 2rem;
    }

    & button{
        &:focus{
            outline: none;
        }
    }
}

.divider{
    margin: 0;
}

.mt-profil-annonce{
    padding-top: 10rem;
}

// background check langue
.bg-langue{
    background: black!important;
    color: white!important;
}

// icone home
.breadcrumb-item{
    & img{
        height: 1.3rem;
        margin-bottom: .5rem;
    }
}

.bg-annonce{
    background: $color-white!important;
    min-height: 20rem!important;
    padding-bottom: initial!important;

    & .annonces{
        box-shadow: $shadow-dashbord;
    }

    & button{
        &:focus{
            outline: none;
        }
    }
}

.profil-card{
    & .d-profil-info{
        &__img{
            width: 15rem;
            height: 15rem;
            border-radius: 50%;
            margin: auto;
            overflow: hidden;

            & img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        @include responsive(phone){
            &__img{
                height: 10rem;
                width: 10rem;
                margin-bottom: 1rem!important;
            }
        }
    }

    & .d-profil-coordinated{
        & img{
            height: 1.5rem;
            float: right;
            vertical-align: middle;
        }

        & ul{
            & a{
                color: $color-primary;
            }
        }

    }
}

.annonce-card{
    
    & .filiere{
        background: #fa70353b;
        padding: 1rem 2rem;
        border-radius: $b-radius;
        margin-right: 1rem;
    }

    & .prix{
        background: $color-primary;
        padding: 1rem 2rem;
        border-radius: $b-radius;
    }

    @include responsive(phone){
        & .filiere{
            padding: .5rem 1rem;
        }

        & .prix{
            padding: .5rem 1rem;
        }
    }
}

.annonce-pagination{
    & ul{
        display: flex;
        align-items: center;
        justify-content: center;

        & li{
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
            height: 4rem;
            width: 4rem;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 .5rem;
            font-size: 1.5rem;
            color: $color-dark;

            @include responsive(phone){
                height: 3rem;
                width: 3rem;
                font-size: 1.3rem;

                & img{
                    height: 1.6rem;
                }
            }
        }

        & .p-active{
            background: $color-green;
            color: $color-white;
        }

        & .link-hover{
            transition: all .3s;

            &:hover{
                transform: scale(1.1);
            }
        }
    }

    & img{
        height: 2rem;
    }
}

.general-information-profil{
    @include profil-box();

    &__form{
        & select{
            @include general-form();

            &:focus{
                border: 1px solid $color-green;
            }
        }

        & input{
            @include general-form();

            &:focus{
                border: 1px solid $color-green;
            }
        }
    }
}

.profil-diplome{
    @include profil-box();

    &__verify{
        display: flex;
        justify-content: space-between;
    }
}

.profil-notification{
    @include profil-box();
    
    & p{
        font-weight: 500;
    }

    & input{
        margin-right: 1rem;
    }
}

.profil-map{
    box-shadow: $shadow-dashbord;
    border-radius: $b-radius;
    min-height: 10rem;

    &__title{
        padding: 3rem;

        @include responsive(phone){
            & h2{
                font-size: 2rem;
            }
        }
    }

    &__cart{
        position: relative;
        height: 25rem;

        & .form{
            position: absolute;
            top: 10%;
            left: 50%;
            width: 80%;
            transform: translateX(-50%);
            background: transparent;

            & input{
                padding: 1.5rem;
                border: 1px solid transparent;
                width: 100%;
                border-radius: $b-radius;
            }
        }

        & iframe{
            height: 100%;
            width: 100%;
        }
    }
}

.profil-identity{
    @include profil-box();

    & .box-identity{
        text-align: center;
        
        & .identity-cv{
            padding: .5rem;
        }

        & .identity-piece{
            padding: .5rem;
        }

        @include responsive(phone){
            justify-content: center;
        }
    }
}

.profil-suppression{
    @include profil-box();

    & input{
        margin-right: 1rem;
    }

    & .general-btn{
        padding: .5rem 2rem;
    }
}

.profil-photo{
    @include profil-box();

    #dropzone{
        margin: auto;
        height: 15rem;
        width: 15rem;
        border: 1px solid $color-light;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 4px 4px 0px #96969670;

        & .dz-image{
            height: 100%;
            width: 100%;
            border-radius: 50%;
            overflow: hidden;
        }
    }
}

.profil-password{
    @include profil-box();

    & input{
        @include general-form();
    }
}

.devenir-professeur{
    @include profil-box();

    .slideTwo {
        width: 80px;
        height: 30px;
        background: #333;
        margin: 1rem auto;
        position: relative;
        border-radius: 50px;
        box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);

        &:after {
            content: '';
            position: absolute;
            top: 14px;
            left: 14px;
            height: 2px;
            width: 52px;
            background: #111;
            border-radius: 50px;
            box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
        }

        & label {
            display: block;
            width: 22px;
            height: 22px;
            cursor: pointer;
            position: absolute;
            top: 4px;
            z-index: 1;
            left: 4px;
            background: #fcfff4;
            border-radius: 50px;
            transition: all 0.4s ease;
            box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
            background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
            
            &:after {
                content: '';
                width: 10px;
                height: 10px;
                position: absolute;
                top: 6px;
                left: 6px;
                background: #333;
                border-radius: 50px;
                box-shadow: inset 0px 1px 1px rgba(0,0,0,1), 0px 1px 0px rgba(255,255,255,0.9);
            }
        }

        & input[type=checkbox] {
            visibility: hidden;
            &:checked + label {
                left: 54px;
                &:after {
                    background: green; /*activeColor*/
                }
            }
        }    
    }
}

.photo-cours{
    @include profil-box();
}

.localite-cours{
    @include profil-box();
    @include img-modif();
    position: relative;

    &__cart{
        height: 20rem;

        & iframe{
            height: 100%;
            width: 100%;
        }
    }

    &__type{
        display: flex;
        flex-wrap: wrap;

        & span{
            background: $color-light;
            padding: 1rem 2rem;
            border-radius: $b-radius;
            margin: 0 1rem 1rem 0;
        }

        @include responsive(phone){
            & span{
                border-radius: $b-radius3;
                padding: .5rem 1rem;
            }

            & h4{
                font-size: 1.6rem;
            }
        }

        & img{
            height: 2rem;
        }
    }

    transition: all .3s;

    &:hover{
        background: #fa70352e;

        & .img-modif{
            background: $color-primary;
        }
    }
}

.cours-proposition{
    @include profil-box();
    @include img-modif();
    position: relative;
    transition: all .3s;

    &:hover{
        background: #fa70352e;

        & .img-modif{
            background: $color-primary;
        }
    }
}

.matiere-niveau{
    @include profil-box();
    @include img-modif();
    position: relative;
    transition: all .3s;

    &:hover{
        background: #fa70352e;

        & .img-modif{
            background: $color-primary;
        }
    }

    @include responsive(phone){
        & h3{
            font-size: 2rem;
        }
    }
}

.title-methodologie{
    @include profil-box();
    @include img-modif();
    position: relative;
    transition: all .3s;

    &:hover{
        background: #fa70352e;

        & .img-modif{
            background: $color-primary;
        }
    }
}

.parcours{
    @include profil-box();
    @include img-modif();
    position: relative;
    transition: all .3s;

    &:hover{
        background: #fa70352e;

        & .img-modif{
            background: $color-primary;
        }
    }
}

.tarif{
    @include profil-box();
    @include img-modif();
    position: relative;
    transition: all .3s;

    &:hover{
        background: #fa70352e;

        & .img-modif{
            background: $color-primary;
        }
    }
}

.cv-description{
    @include profil-box();
    @include img-modif();
    position: relative;
    transition: all .3s;

    &:hover{
        background: #fa70352e;

        & .img-modif{
            background: $color-primary;
        }
    }
}

.shadow-profil-map{
    box-shadow: initial;

    .profil-map__title{
        padding: 0;
    }
}

.m-cours-localisation{
    &__content{
        cursor: pointer;

        &-input{
            background: rgba(134, 134, 134, 0.062);
            border-radius: $b-radius;
            padding: 1rem 2rem;
            display: flex;
            align-items: center;

            & input{
                margin-right: 1rem;
                margin-top: 0!important;
            }

            @include responsive(phone){
                font-size: 1.2rem;
            }
        }
    }

    &__webcam{
        padding: 1rem 0;

        & input{
            padding: .5rem 1rem;
            border-radius: $b-radius3;
            border: 1px solid transparent;
            background: rgba(134, 134, 134, 0.062);
            margin-bottom: 1rem;
            color: $color-wfade;
        }
    }
}

.modif-cours{
    &__choice{
        display: flex;
        padding: 3rem 1rem;
        background: rgba(134, 134, 134, 0.062);
        border-radius: $b-radius;

        & img{
            height: 3rem;
            margin: 0 2rem;
            vertical-align: middle;
        }

        @include responsive(phone){
            margin-bottom: 1.5rem;
        }
    }
}

.modif-matiere{
    & input{
        padding: .5rem 1rem;
        border-radius: $b-radius3;
        border: 1px solid transparent;
        background: rgba(134, 134, 134, 0.062);
        margin: 0 .5rem 1rem;
        color: $color-wfade;
    }
}

.form-textarea{
    & textarea{
        width: 100%;
        border: none;
        padding: 1rem;
        border-radius: $b-radius;
        min-height: 15rem;
        background: $color-light;
    }

    & .big-title{
        font-size: 2.5rem;

        @include responsive(phone){
            font-size: 1.5rem;
        }
    }
}

.tarif-form{
    &__input{
        position: relative;
        background: rgba(134, 134, 134, 0.062);
        height: 7rem;
        border-radius: $b-radius;

        & input{
            width: 100%;
            height: 100%;
            background: transparent;
            border: none;
            padding: 0 2rem;
        }

        & span{
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            display: flex;
            padding: 0 2rem;
            font-size: 2rem;
            align-items: center;
            color: $color-white;
            background: $color-black;
            border-top-right-radius: $b-radius;
            border-bottom-right-radius: $b-radius;
        }
    }

    & .tarif-info{
        background: linear-gradient(45deg, #fa7035, #fa703550);
        color: $color-white;
        min-height: 7rem;
        display: flex;
        align-items: center;
        border-radius: 1rem;
        padding: 0 1rem;
    }

    & .prix-webcam{
        & input{
            border: 1px solid transparent;
            border-bottom: 1px solid $color-primary;
            padding: .3rem 1rem;
            border-radius: $b-radius;
            transition:  all .3s;
        }
    }

    & .plus-heure{

        & .inputNone{
            display: none;
            border: 1px solid transparent;
            border-bottom: 1px solid $color-primary;
            padding: .3rem 1rem;
            border-radius: $b-radius;
            transition:  all .3s;
        }
    }
}

.offre{
    & .checked{
        padding: 1.5rem 3rem!important;
        background: rgb(72, 193, 126);
        color: $color-white;
    }
}

.form-precision{
    & textarea{
        min-height: 15rem;
        background: rgba(134, 134, 134, 0.062);
        border-radius: $b-radius;
        border: none;
        width: 100%;
        padding: 1rem;
    }
}

.profil-content{
    min-height: 100vh;
    padding-bottom: 10rem;

    & .annonces{
        @include styleProfil;
        display: flex;
        justify-content: center;
        min-height: 50rem;

        #regForm {
            background-color: #ffffff;
            font-family: Raleway;
            padding: 40px;
            width: 80%;
            min-width: 300px;

            @include responsive(tab-land){
                width: 100%;
            }

            @include responsive(tab-port){
                padding: initial;
                min-width: initial;
            }
        }

        & select{
            width: 100%;
            background: $color-white;
            font-size: 1.5rem;
            border: 1px solid transparent;

            &:focus{
                outline: none;
            }

            & .select2-results__option--selectable{
                background-color: transparent!important;
            }

            @include responsive(phone){
                width: 100%;
            }

        }

        & .select2-container .select2-selection--single{
            height: 5rem!important;
            border: 1px solid #aaaaaa!important;
        }

        & .select2-container--default .select2-selection--single .select2-selection__rendered{
            line-height: 4.2rem;
            font-size: 1.5rem;
            color: $color-dark;
        }

        & .select2-container--default .select2-selection--single .select2-selection__arrow{
            top: 1.3rem!important;
        }

        input {
            border: 1px solid transparent!important;
            padding: 2rem!important;
            border-radius: $b-radius;
            margin-top: 1rem;
            background: rgba(177, 177, 177, 0.13);
            transition: all .3s;
            width: 100%;

            &:focus{
                box-shadow: 0px 2px 4px 0px #0000001f;
            }
        }

        /* Mark input boxes that gets an error on validation: */
        input.invalid {
            background-color: #ffdddd;
        }

        & .btn-matieres{
            & input{
                padding: .5rem 1rem!important;
            }
        }

/* Hide all steps by default: */
        .tab {
            display: none;
        }

        .btn-submit {
            background-color: $color-primary;
            color: #ffffff;
            border: none;
            padding: .5rem 2rem;
            font-size: 17px;
            font-family: Raleway;
            border-radius: $b-radius3;
        }

        button:hover {
            opacity: 0.8;
        }

        #prevBtn {
            background-color: transparent;
            color: $color-dark;

            & img{
                height: 1.5rem;
                vertical-align: middle;
                transition: all .5s;
            }
        }

        & .modif-cours__choice{
            align-items: center;
            padding:  3rem;
            cursor: pointer;

            & .input-check{
                width: initial;
            }

            & img{
                height: 7rem!important;
            }

            @include responsive(tab-port){
                margin-bottom: 1.5rem;
            }

            @include responsive(phone){
                padding: 2rem 3rem;
                font-size: 1.2rem;

                & img{
                    height: 5rem!important;
                    margin: 0 1rem;
                }
            }
        }

        & .annonce-niveau{
            & input{
                width: initial!important;
                padding: .5rem 1rem!important;
                box-shadow: initial;
                margin-right: 1rem;
            }
        }

        & textarea{
            border: 1px solid transparent!important;
            padding: 2rem!important;
            border-radius: $b-radius;
            margin-top: 1rem;
            background: rgba(177, 177, 177, 0.13);
            transition: all .3s;
            width: 100%;
            min-height: 15rem;
            font-size: 1.5rem;

            &:focus{
                box-shadow: 0px 2px 4px 0px #0000001f;
            }

            @include responsive(phone){
                font-size: 1.3rem;
            }
        }

        & .titre-consigne{
            min-height: 15rem;
            background: linear-gradient(45deg, #fa703550, #fa7035);
            border-bottom-left-radius: $b-radius3;
            border-bottom-right-radius: $b-radius3;
            padding: 2rem;
            display: flex;

            &__img{
                width: 10rem;

                & img{
                    height: 3rem;
                    transform: rotate(-180deg);
                }

                @include responsive(phone){
                    width: 20rem;
                    margin-right: 1rem;
                }
            }

            &__text{
                & ul{
                    & li{
                        list-style-type: disc;
                        margin-left: 1.5rem;
                    }
                }
            }
        }

        & .consigne-none{
            display: none;
        }

        & .annonce-localisation{
            height: 30rem;
            position: relative;

            & input{
                width: 80%;
                position: absolute;
                left: 50%;
                top: 10%;
                transform: translateX(-50%);
                background: $color-white;
            }

            & iframe{
                width: 100%;
                height: 100%;
            }
        }

        & .annonce-tarif{
            & .price-input{
                height: initial;
                background: transparent;
                box-shadow: none;
                margin-top: 0;
            }

            // & .input-check{
            //     width: initial;
            // }

            & .prix-webcam{
                & input{
                    height: 4rem;
                    padding: 0 1rem!important;
                    margin-top: 0;
                    width: 20%;
                    background: transparent;
                    border: none!important;
                    border-bottom: 1px solid $color-primary!important;
                    margin-left: 2rem;
                }

                @include responsive(phone){
                    & input{
                        margin-left: 0;
                        width: 50%;
                    }
                }
            }

            & .plus-heure{
                display: flex;
                align-items: flex-end;
                min-height: 4rem;

                & input{
                    height: 4rem;
                    padding: 0 1rem!important;
                    margin-top: 0;
                    width: 50%;
                    background: transparent;
                    border: none!important;
                    border-bottom: 1px solid $color-primary!important;
                    margin-left: 2rem;
                }

                & .tarifDisplay1{
                    display: none;
                }

                & .tarifDisplay2{
                    display: none;
                }

                & .tarifCheck1{
                    width: initial;
                    height: initial;
                    margin: 0 .5rem 1rem 0;
                }

                & .tarifCheck2{
                    width: initial;
                    height: initial;
                    margin: 0 .5rem 1rem 0;
                }
            }
        }

        & .annonce-photo{
            padding: 1rem 0;
            border-right: 1px solid rgba(0, 0, 0, .5);

            &__indication{
                text-align: center;

                & img{
                    height: 5rem;
                }
            }

            #dropzone {
                position: relative;
                border: 2px solid $color-green;
                border-radius: 50%;
                color: $color-dark;
                font: bold 24px/200px arial;
                height: 200px;
                margin: 30px auto;
                text-align: center;
                width: 200px;
            }

            #dropzone.hover {
                border: 10px solid #FE5;
                color: #FE5;
            }

            #dropzone.dropped {
                background: $color-white;
                border: 2px solid $color-green;
            }

            #dropzone div {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
            }

            #dropzone img {
                border-radius: 10px;
                vertical-align: middle;
                max-width: 95%;
                max-height: 95%;
            }

            #dropzone [type="file"] {
                cursor: pointer;
                position: absolute;
                opacity: 0;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
            }

            @include responsive(tab-port){
                border: none;

                & #dropzone{
                    margin: 1rem auto;
                }
            }
        }

        & .photo-precision{
            @include d-flex;
            align-items: center;
            height: 100%;

            &__type{
                & .img-block{
                    position: relative;
                    width: 10rem;
                    margin: auto;

                    @include responsive(tab-port){
                        width: 6rem;
                    }
                }

                & .radius-img{
                    width: 10rem;
                    height: 10rem;
                    border-radius: 50%;
                    overflow: hidden;
                    margin: auto;
                    background: rgb(235, 235, 235);

                    & .img-photo{
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }

                    @include responsive(tab-port){
                        width: 6rem;
                        height: 6rem;
                    }
                }

                & .img-position{
                    height: 2rem;
                    width: 2rem;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    border-radius: 50%;

                    & .signe{
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }

                    @include responsive(tab-port){
                        width: 1rem;
                        height: 1rem;
                        right: 3%;
                    }
                }
            }

            @include responsive(tab-port){
                justify-content: space-around;
            }
        }

        & .box-recommandation{
            border: 1px solid $color-light;
            padding: 3rem;
            min-height: 20rem;
            border-radius: $b-radius;
            display: flex;

            &__user{
                width: 20rem;
                padding: 0 2rem;
                text-align: center;

                &-ville{
                    & img{
                        height: 1.5rem;
                        vertical-align: middle;
                    }
                }

                &-photo{
                    width: 15rem;
                    height: 15rem;
                    margin: auto;
                    border-radius: 50%;
                    position: relative;

                    & img{
                        height: 100%;
                        width: 100%;
                        border-radius: 50%; 
                        object-fit: cover;
                    }

                    & p{
                        position: absolute;
                        bottom: -.5rem;
                        right: -.3rem;
                        font-size: .7rem;
                        font-weight: bold;
                        font-weight: bold;
                        height: 4.5rem;
                        width: 4.5rem;
                        border-radius: 50%;
                        border: 3px solid $color-white;
                        background: $color-primary;
                        color: $color-white;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }

                & h3{
                    text-transform: uppercase;
                }
            }

            &__recommande{
                text-align: center;

                & .recommande-link{
                    & img{
                        height: 2rem;
                        vertical-align: middle;
                        margin: 0 1rem .5rem 0;
                    }
                }
            }

            @include responsive(tab-port){
                display: block;

                &__user{
                    margin: auto;
                    margin-bottom: 2rem;
                }
            }
        }
    }

    .matiere-proposition{
        & .categories{
            margin-bottom: 0!important;
            padding: 0;

            &__item{
                display: inline-block;
                width: 10rem;
                text-align: center;
                transition: all .3s;

                & img{
                    height: 6rem;
                    margin-bottom: 1rem;
                }

                & p{
                    font-size: 1.3rem;
                    font-weight: 600;
                }

                & .nav-link{
                    color: $color-dark;
                }

                & .nav-link.active{
                    background: rgba(182, 182, 182, 0.137);
                    color: $color-dark;
                }

                @include responsive(phone){
                    width: 6rem;

                    & img{
                        height: 3rem;
                    }

                    & p{
                        font-size: 1rem;
                    }
                }
            }
        }

        & .tab-content{
            padding: 0;
            
            & .tab-pane.active{
                background: rgba(182, 182, 182, 0.137);
                padding: 4rem 2rem;


                @include responsive(phone){
                    padding: 2rem 1rem;
                }
            }
            
        }
    }
}

.agenda{
    height: 70vh;
    overflow: scroll;

    @include responsive(phone){
        height: initial;
    }
}

// modal agenda
.modal-agenda{
    background-color:#000000b0;
    z-index: 9999!important; 

    & .modal-header{
        padding:1rem  2rem;
    }

    & .modal-body{
        padding: 1rem 2rem;
        display: flex;

        & .block-left{
            flex: 1;
        }

        & .block-right{
            flex: 1;
        }
    }

    & .modal-agenda-bb{
        border-bottom: 1px dashed rgba(143, 143, 143, 0.562);
    }
}

.view-profil{
    min-height: 25rem;
    margin-bottom: 4rem;
    border-radius: $b-radius;
    box-shadow: $shadow-dashbord;
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__lblock{
        display: flex;
        align-items: center;

        &-img{
            height: 20rem;
            width: 20rem;
            border-radius: 50%;
            overflow: hidden;

            & img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }

            @include responsive(phone){
                margin: auto;
            }
        }

        &-text{
            padding: 0 2rem;
            position: relative;

            & img{
                height: 2rem;
                margin-left: 2rem;
            }

            & .partage{
                visibility: hidden;
                float: right;
                padding: 1rem;
                background: #67676717;
                border-radius: $b-radius3;
                transition: all .5s;
                min-width: 10rem;

                & ul{
                    display: flex;
                    justify-content: space-between;
                }

                & img{
                    height: 2rem;
                    margin: 0;
                }
            }

            &:hover{
                .partage{
                    visibility: visible;
                    bottom: initial;
                    transition: all .5s;
                }
            }
        }

        @include responsive(big-desktop){
            &-img{
                height: 15rem;
                width: 15rem;
            }
        }

        @include responsive(phone){
            display: block!important;

            &-img{
                margin-bottom: 1rem;
            }

            &-text{
                text-align: center;
            }
        }
    }

    &__rblock{
        text-align: center;
    }

    @include responsive(tab-port){
        display: block;

        &__lblock{
            justify-content: center!important;
            margin-bottom: 2rem;
        }
    }
}

.view-bg{
    background: $color-white!important;
}


// metro
.metro-select{
    & .input{
        & input{
            padding: initial!important;
            margin-top: 0;
            background: transparent;
        }
    }
}


// custom checkbox
.customCheckbox {
    float: left;
    position: relative;  
    width: 20px;
    height: 20px;
    background: #eaeaea;
    border-radius: 50%;
    border: 1px solid #d2d2d2;
    box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.1);
    margin-right: 5px;
    overflow: hidden;
}

.customCheckbox.customCheckboxChecked {
    background: orange;
    border: 1px solid orange;
    border-radius: 50%;
}

.customCheckbox input {
    opacity: 0;
    cursor: pointer;
    z-index: 5;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.customCheckbox span {
    display: none;
    text-align: center;
    line-height: 20px;
    font-size: 90%;
    color: #FFF;
}

.customCheckbox.customCheckboxChecked span {
    display: block;
}

.checked{
    position: relative;
    
    label {
        width: 20px;
        height: 20px;
        cursor: pointer;
        position: absolute;
        top: 50%;
        left: 5%;
        transform: translateY(-50%);
        background: white;
        border-radius: 4px;
        box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
        &:after {
            content: '';
            width: 9px;
            height: 5px;
            position: absolute;
            top: 6px;
            left: 5px;
            border: 3px solid $color-primary;
            border-top: none;
            border-right: none;
            background: transparent;
            opacity: .3;
            transform: rotate(-45deg);
        }
        &:hover::after {
            opacity: 1;
        }
    }
    input[type=checkbox] {
        visibility: hidden;
        &:checked + label:after {
        opacity: 1;
        }    
    }
}


// custom checked
.checked{
    position: relative;
    
    label {
        width: 20px;
        height: 20px;
        cursor: pointer;
        position: absolute;
        top: 50%;
        left: 5%;
        transform: translateY(-50%);
        background: white;
        border-radius: 4px;
        box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
        &:after {
            content: '';
            width: 9px;
            height: 5px;
            position: absolute;
            top: 6px;
            left: 5px;
            border: 3px solid $color-primary;
            border-top: none;
            border-right: none;
            background: transparent;
            opacity: .3;
            transform: rotate(-45deg);
        }
        &:hover::after {
            opacity: 1;
        }
    }
    input[type=checkbox] {
        visibility: hidden;
        &:checked + label:after {
        opacity: 1;
        }    
    }

    &:focus{
        outline: none;
    }
}

// .box-message{
//     width: 90%;
//     margin: auto;
//     min-height: 50rem;
//     padding: 2rem 3rem;
//     background: url("../images/bg/bg.png");
    
//     &__photo{
//         & img{
//             height: 100%;
//             width: 100%;
//         }
//         @include responsive(tab-port){
//             margin-bottom: 2rem;
//         }
//     }

//     &__text{
//         & .c-info{
//             & p{
//                 margin-right: 2.5rem;
//             }
//         }
//     }

//     &__apprenant{
//         & .a-info{
//             margin: 2rem 0 0;
//             display: flex;
//             flex-wrap: wrap;
//             justify-content: space-between;

//             & div{
//                 margin-bottom: 2rem;
//             }
//         }
//     }
// }

.spinner {
    width: 30px;
    height: 30px;
    margin: auto;
    position: relative;
}

.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #fa7035;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
    0%, 100% { 
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 50% { 
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

.pd-digits{
    padding: 0 5rem;

    @include responsive(phone){
        padding: 0;
    }
}

.block-btn-prof{
    display: flex;
    justify-content: space-between;
}

.avatar-upload {
    position: relative;
    max-width: 205px;
    margin: auto;
    .avatar-edit {
        position: absolute;
        right: 25px;
        z-index: 1;
        top: 10px;
        input {
            display: none;
            + label {
                display: inline-block;
                width: 34px;
                height: 34px;
                margin-bottom: 0;
                border-radius: 100%;
                background: #FFFFFF;
                border: 1px solid transparent;
                box-shadow: 0px 4px 4px 0px #96969670;
                cursor: pointer;
                font-weight: normal;
                transition: all .2s ease-in-out;
                &:hover {
                    background: #f1f1f1;
                    border-color: #d6d6d6;
                }
                &:after {
                    content: "\f040";
                    font-family: 'FontAwesome';
                    color: #757575;
                    position: absolute;
                    top: 10px;
                    left: 0;
                    right: 0;
                    text-align: center;
                    margin: auto;
                }
            }
        }
    }
    .avatar-preview {
        width: 192px;
        height: 192px;
        position: relative;
        border-radius: 100%;
        border: 6px solid #F8F8F8;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
        > div {
            width: 100%;
            height: 100%;
            border-radius: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}

.confirmation-present{
    .squaredTwo {
        width: 24px;
        height: 24px;
        position: relative;
        background: #fcfff4;
        background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
        box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);

        label {
            width: 16px;
            height: 16px;
            cursor: pointer;
            position: absolute;
            left: 4px;
            top: 4px;
            background: linear-gradient(top, #fa7035 0%, #ffa885 100%);
            box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);

            &:after {
                content: '';
                width: 10px;
                height: 6px;
                position: absolute;
                top: 4px;
                left: 4px;
                border: 3px solid green;
                border-top: none;
                border-right: none;
                background: transparent;
                opacity: 0;
                transform: rotate(-45deg);
            }

            &:hover::after {
            opacity: 0.3;
            }
        }

        input[type=checkbox] {
            visibility: hidden;
            &:checked + label:after {
            opacity: 1;
            }    
        }
    }
}

// confirmation presence prof

.box-confirmation{
    min-height: 60rem;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/bg/bg-confirmation.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    color: $color-white;

    &__infoProf{
        padding: 2rem;

        @include border-bottom-after();

        &-img{
            width: 80%;
            margin: auto;
            height: 30rem;
            background: black;
            border-radius: .5rem;
            overflow: hidden;

            & img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        &-text{
            width: 80%;
            margin: auto;
            padding: 1rem 0;
        }

        @include responsive(tab-land){
            &-img{
                width: 100%;
            }

            &-text{
                width: 100%;
            }
        }
    }

    &__noteProf{
        background: rgba(0, 0, 0, 0.692);
        min-height: 65rem;
        padding: 2rem;

        @include border-bottom-after();

        & .star1{
            color: #ffd700;
        }

        & .box-note{
            text-align: center;
            margin-top: 3rem;

            & .star-note{
                margin: 0 .5rem;
                cursor: pointer;

                &:hover{
                    transform: scale(1.7);
                }
            }
        }

        & .textarea-note{
            & textarea{
                width: 100%;
                background: transparent;
                color: $color-white;
                border: 1px solid $color-white;
                border-radius: $b-radius;
                padding: .5rem;
                min-height: 8rem;

                &:focus{
                    border: 1px solid $color-primary;
                }
            }

            .score-rating {
                vertical-align: sup;
                top: -5px;
                position: relative;
                font-size: 150%;
                color: #ffd700;
            }

            .total {
                vertical-align: sub;
                top: 0px;
                position: relative;
                font-size: 100%;
            }

            .average {
                font-family: arial;
                font-size: 20px;
                color: indianred;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                text-align: center;
                
                .score-average {
                    padding-top: 30px;
                }
            }
        }

        & .text-note{
            border: 1px solid rgb(255, 35, 35);
            padding: 1rem;
            border-radius: $b-radius;
            background-color: rgba(240, 114, 83, 0.507);
        }
    }

    // vote
    & .rating {
        text-align: center;
        width: 100%;
        padding-right: 4.5rem;

        @include responsive(phone){
            padding-right: 3.5rem;
        }
    }

    & .hidden {
        opacity: 0;
    }

    & .star2 {
        display: inline-block;
        margin: 5px;
        font-size: 30px;
        color: whitesmoke;
        position: relative;

        
        &.animate {
            -webkit-animation: stretch-bounce .5s ease-in-out;
        }
        
        &.hidden {
            opacity: 0;
        }

        @include responsive(phone){
            font-size: 2rem;
        }
    }

    & .full {
        &:before {
            font-family: fontAwesome;
            display: inline-block;
            content: "\f005";
            position: relative;
            float: right;
            z-index: 2;
        } 
    }

    & .half {
        &:before {
            font-family: fontAwesome;
            content: "\f089";
            position: absolute;
            float: left;
            z-index: 3;
        }
    }

    & .star-colour {
        color: #ffd700;
    }


    @-webkit-keyframes stretch-bounce {
        0% {
            -webkit-transform: scale(1);
        }
        25% {
            -webkit-transform: scale(1.5);
        }
        50% {
            -webkit-transform: scale(0.9);
        }
        75% {
            -webkit-transform: scale(1.2);
        }
        100% {
            -webkit-transform: scale(1);
        }
    }

    & .selected {
        &:before {
            font-family: fontAwesome;
            display: inline-block;
            content: "\f005";
            position: absolute;
            top: 0;
            left: 0;
            -webkit-transform: scale(1);
            opacity: 1;
            z-index: 1;
        }
        
        &.pulse {
            &:before {
            -webkit-transform: scale(3);
            opacity: 0;
            }
        }
        
        &.is-animated {
            &:before {
            transition: 1s ease-out;
            }
        }
    }
}

// .score {
//     font-family: arial;
//     font-size: 20px;
//     color: green;
//     margin-top: 20px;
//     margin-left: 50px;
// }

// page historique
.historique-title{
    box-shadow: 0 0 37px rgba(8, 21, 66, 0.05);
    padding: 2rem 3rem;
    background-color: $color-primary;
    color: $color-white;
    font-weight: 600;
    display: inline-block;
    border-radius: $b-radius;

    @include responsive(phone){
        padding: 1rem;

        & h2{
            font-size: 2rem;
        }
    }
}

.box-datatable{
    & .dataTables_wrapper .dataTables_filter input[type="search"]{
        border: 1px solid $color-primary;
        border-radius: $b-radius;
    }

    div.dataTables_wrapper div.dataTables_length select{
        border: 1px solid $color-primary;
        border-radius: $b-radius;
    }

    & .dataTables_wrapper .dataTables_paginate{
        border: 1px solid transparent;
    }

    & .dataTables_wrapper .dataTables_paginate .paginate_button.current{
        border: 1px solid $color-primary;
        border-radius: 50%;
    }

    @include responsive(phone){
        div.dataTables_wrapper div.dataTables_length{
            display: none;
        }

        div.dataTables_wrapper div.dataTables_filter label{
            float: initial;
        }

        div.dataTables_wrapper div.dataTables_paginate{
            float: initial;
            margin-bottom: 1rem;
        }
    }
}

// page solde