.navigation{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
    background: $color-white;
    padding: 1rem 0;
    box-shadow: $nav-shadow;


    & .logo{
        float: left;

        img{
            height: 5rem;

            @include responsive(phone){
                height: 4rem;;
            }
        }
    }

    & .link{
        float: right;
        margin-top: .5rem;
        
        li{
            display: inline-block;
            padding: .5rem 1rem;
            
            a{
                color: $color-link;
                font-size: 1.5rem;
                text-transform: capitalize;
                transition: all .5s;
            }
            
            &:hover{
                a{
                    color: $color-primary;
                }
            }
        }

        & .link-active{
            background: #fd692a98;
            color: $color-white;
            padding: 1.5rem 1rem;
            border-radius: .5rem;

            @include responsive(phone){
                background: initial;
                border-radius: initial;
                padding: 0!important;
            }

            &:hover{
                color: $color-white;
            }
        }
    }
}

.header{
    background: linear-gradient(rgba(0, 0, 0, 0.582), #fa7035c2);
    background-size: cover;
    background-position: center center;
    min-height: 60vh;
    display: flex;
    align-items: center;

    & .header-content{
        
        & .header-left{
            
            h1{
                margin-bottom: 3rem;
            }

            @include select2();

            @include form-search;
        }
    }
    
    @include responsive(lgbig-desktop) {
        min-height: 80vh;
    }
}

// section about
.about{
    min-height: 30rem;
    padding-top: 3rem;
    
    h2{
        color: $color-green;
    }

    & .about-img{
        img{
            width: 100%;
            height: auto;
            margin-top: -73%;
            float: right;

            @include responsive(lgbig-desktop) {
                height: 100%;
            }

            @include responsive(tab-port) {
                margin-top: initial;
            }

            @include responsive(tab-land) {
                height: 100%;
                object-fit: cover;
            }
        }
    }

    & .about-card{
        padding: 2rem;
        transition: all .5s;

        h3{
            color: $color-primary;
            margin: 1rem 0;
        }

        img{
            height: 4rem;

            @include responsive(phone){
                height: 3rem;
            }
        }

        &:hover{
            box-shadow: 0px 27px 17px -20px #999999;
            transform: translateY(-5%);
        }

        @include responsive(tab-port) {
            border: 1px solid $color-green;
            margin-bottom: 2rem;
            border-radius: $b-radius;
        }
    }

    & .profPremium{

        &__photo{
            border-top-left-radius: 5rem;
            border-bottom-right-radius: 5rem;
            overflow: hidden;
            height: 15rem;
            width: 60%;
            margin: auto;

            & img{
                height: 100%;
                width: 100%;
            }

            @include responsive(phone){
                width: 80%;
                height: 20rem;
            }
        }

        &__info{
            h3{
                font-size: 1.8rem;
                font-weight: 600;
                color: $color-dark;
                margin: 1rem 0;
            }

            & span{
                color: $color-primary;
                padding: .5rem 1rem;
                border: 1px solid $color-primary;
                border-radius: $b-radius3;
            }
        }
    }

    & .profPremium-mt{
        margin-top: 5rem;
        margin-bottom: 3rem;
    }
}

// section proposition
.proposition{
    background: linear-gradient(rgba(0, 0, 0, 0.445), rgba(0, 0, 0, 0.418));
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    min-height: 50rem;

    & .proposition-title{
        color: $color-white;
        margin-bottom: 1rem;
        padding: 1rem;

        h2{
            margin-bottom: 1rem;
        }
    }

    & .proposition-content{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        background: rgba(0, 0, 0, 0.76);
        border-radius: .3rem;
        padding: 2rem;
        height: auto;

        & .proposition-item{
            h3{
                color: $color-white;
                text-transform: capitalize;
            }

            a{
                color: $color-light;
                font-size: 1.5rem;

                &:hover{
                    color: $color-white;
                }

                @include responsive(phone){
                    font-size: 1.3rem;
                }
            }

            @include responsive(phone){
                margin-bottom: 2rem;
            }
        }
    }

    p{
        color: $color-light;
    }
}

.localisation{
    & .localisation-title{
        h2{
            color: $color-green;
        }
    }

    & .localisation-item{
        h4{
            margin-bottom: 3rem;
            img{
                height: 3.5rem;
                margin-right: 1rem;
                vertical-align: middle;
            }
        }

        & .localisation-img{
            height: 25rem;
            margin: auto;
            position: relative;
            overflow: hidden;
            margin-bottom: 2rem;
            border-radius: .3rem;

            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
                transform: scale(1.2);
                transition: all .5s;               
            }

            p{
                @include position-center(50%);
                text-align: center;
                background: rgba(0, 0, 0, 0.644);
                color: $color-white;
                transition: all .5s;
                padding: 1rem;
                width: 80%;
            }

            &:hover{
                p{
                    background: $color-black;
                    color: $color-white;
                }

                img{
                    transform: scale(1);
                    opacity: 1;
                }
            }

            @include responsive(phone){
                height: 20rem;
            }
        }
    }

    & .localisation-ville{
        @include d-flex;
        flex-wrap: wrap;

        ul{
            background: rgb(247, 247, 247);
            min-height: 20rem;
            padding: 2rem 5rem;
            margin-bottom: 2rem;

            @include responsive(phone){
                min-height: initial;
                padding: initial;
                margin-bottom: initial;
                display: flex;
                flex-wrap: wrap;
                background: transparent;
            }

            li{
                @include responsive(phone){
                    border: 1px solid $color-primary;
                    padding: .5rem 1rem;
                    border-radius: $b-radius3;
                    margin: 0 1rem 1rem 1rem;
                    font-size: 1.3rem;
                }
            }
        }

        a{
            color: $color-dark;
            font-size: 1.5rem;
            transition: all .3s;

            &:hover{
                color: $color-primary;
            }
        }
    }
}

.action{
    min-height: 25rem;
    background: $color-primary;
    padding: 3rem 0;

    &__position{
        background: rgb(51, 51, 51);
        padding: 2rem;
        margin-top: -6rem;
        
        // @include responsive(tab-land){
        //     padding: 5rem 0;
        //     margin-top: -9rem;
        // }
    }

    & .action-number{
        // background: $bgcolor-card;
        text-align: center;
        padding: 3rem 2rem;
        color: $color-white;
        width: 80%;

        p{
            color: $color-light;
            margin-top: 2rem;
        }

        @include responsive(phone){
            margin: auto;
            width: initial;
        }
    }

    & .action-invitation{
        color: $color-white;

        p{
            color: $color-light;
            margin: 2rem 0 3rem;
        }

        a{
            border: 1px solid $color-light;
            padding: 1rem 2rem;
            border-radius: 3rem;
            transition: all .3s;

            button{
                background: transparent;
                border: none;
                color: $color-white;
            }

            &:hover{
                box-shadow: $btn-shadow;
                background: $bgcolor-card;
            }
        }

        @include responsive(phone){
            text-align: center;
        }
    }
}

.magazine{
    h2{
        margin-bottom: 3rem;
    }

    & .mt-magazine{
        margin-top: 3rem;
    }

    & .card-magazine{
        min-height: 30rem;
        box-shadow: $card-shadow;
        overflow: hidden;
        margin-bottom: 3rem;
        transition: all .5s;
        padding: 1rem;
        background-color: #ffffff;
        box-shadow: 0px 0px 10px 2px #ececec94;

        & .img-magazine{
            height: 25rem;
            border: 2px solid $bgcolor-money;

            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }

            @include responsive(phone){
                height: 20rem;
            }
        }

        & .illustration-magazine{
            color: $color-dark;

            h3{
                font-size: 2.5rem;
                transition: all .3s;
                margin-bottom: 1rem;
            }

            p{
                font-size: 1.6rem;

                @include responsive(phone){
                    font-size: 1.3rem;
                }
            }
        }

        &:hover{
            h3{
                color: $color-primary;
            }

            // transform: translateY(-3%);
            transform: scale(1.03);
        }
    }
}

// loader ----------
.loaderI {
    position: fixed;
    z-index: 9999999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    & img{
        height: 20%;
    }

    @include responsive(phone){
        & img{
            height: 10%;
        }
    }
}

.loader.hidden {
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}