.mainbox-password{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &__card{
        min-height: 20rem;
        width: 40rem;
        padding: 4rem 3rem 2rem;
        border-radius: .5rem;
        box-shadow: 0px 0px 62px 0px rgba(0, 0, 0, 0.07);

        &--header{
            text-align: center;
            margin-bottom: 2rem;
        }

        &--img{
            width: 7rem;
            height: 7rem;
            margin: auto;
            margin-bottom: 2rem;

            & img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        & .input-recupe{
            width: 100%;
            padding: 1.3rem 1rem;
            border: 1px solid rgb(114, 114, 114);
            border-radius: $b-radius;
            font-size: 1.5rem;

            &:focus{
                border: 1px solid $color-green;
            }
        }

        &--body{
            & .text-recupe{
                margin: 2rem 0;
            }
        }

        &--btn{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 2rem 0 4rem;
        }

        @include responsive(phone){
            margin: 0 2rem;
            padding: 3rem 1rem 2rem;

            &--img{
                height: 5rem;
                width: 5rem;
            }
        }
    }

    & .img-mail{
        height: 15rem;
        text-align: center;

        & img{
            height: 100%;
        }
    }
}