
#postFormForum{

    & .pf-title{
        padding: 0 4rem;
        margin-top: 4rem;
    }

    & h3{
        font-size: 2rem;
    }
}
.postFormForum{
    padding: 2rem;
    @include d-flex;

    &__img{
        flex: 1;

        & p{
            height: 5rem;
            width: 5rem;
            border-radius: 50%;
            overflow: hidden;
            margin: auto;

            & img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            @include responsive(tab-port){
                margin: initial;
                margin-bottom: 1rem;
            }
        }
    }

    &__form{
        flex: 8;

        & input{
            width: 100%;
            padding: 1rem 2rem;
            border: 1px solid $color-green;
            border-radius: $b-radius;
            margin-bottom: 1rem;
            color: $color-wfade;
            font-size: 1.5rem;
        }

        & textarea{
            margin-bottom: 1rem;
        }

        & .check{
            display: flex;
            align-items: center;
            padding: 0 1.5rem;

            input{
                width: initial;
                margin-top: 0;
            }

            label{
                margin-left: 1rem;
            }
        }

        & button{
            color: $color-white;
            padding: .7rem 3rem;
            border: 1px solid $color-green;
            border-radius: $b-radius3;
            margin-top: 2rem;
            transition: all .5s;
            @include button();
        }
    }

    @include responsive(tab-port){
        display: block;
    }
}

.bigFamilly{
    min-height: 35rem;
    padding: 2rem;

    &__card{
        box-shadow: 0px 0px 8px 0px #a0a0a054;
        height: 100%;
        border-radius: $b-radius;
        padding: 1rem 2rem;
        display: flex;

        &-img{
            flex: 2;

            & img{
                object-fit: cover;
            }

            @include responsive(tab-port){
                display: none;
            }
        }

        &-textbox{
            flex: 6;

            & h3{
                font-size: 2.5rem;
            }

            & img{
                height: 5rem;
                margin-right: 1rem;
            }

            & .item{
                margin-bottom: 2rem;
            }
        }
    }
}

.forumBlockLeft{
    & p{
        font-size: 1.5rem;
    }

    &__condition{
        h3{
            font-size: 2rem;
            text-transform: uppercase;
            margin-bottom: 2rem;
        }

        &-item{
            display: flex;
            margin-bottom: 2rem;

            & img{
                height: 5rem;
                margin-right: 1rem;
            }
        }
    }
}

// select type forum
.dropdown {
    --max-scroll: 8;
    --text: #3F4656;
    --border: #117a8b;
    --borderActive: #117a8b;
    --background: #FFF;
    --arrow: #6C7486;
    --arrowActive: #E4ECFA;
    --listText: #99A3BA;
    --listBackground: #F5F9FF;
    --listActive: #E4ECFA;
    --listTextActive: #6C7486;
    --listBorder: none;
    --textFilled: rgba(0, 0, 0, 0.432);
    width: 100%;
    position: relative;
    margin-bottom: 1rem;
    font-size: 1.5rem;

    select {
        display: none;
    }

    & > span {
        cursor: pointer;
        padding: .7rem 2rem;
        border-radius: $b-radius;
        display: block;
        position: relative;
        color: var(--text);
        border: 1px solid var(--border);
        background: var(--background);
        transition: all .3s ease;
        &:before,
        &:after {
            content: '';
            display: block;
            position: absolute;
            width: 8px;
            height: 2px;
            border-radius: 1px;
            top: 50%;
            right: 15px;
            background: var(--arrow);
            transition: all .3s ease;
        }
        &:before {
            margin-right: 4px;
            transform: scale(.96, .8) rotate(50deg);
        }
        &:after {
            transform: scale(.96, .8) rotate(-50deg);
        }
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        max-height: calc(var(--max-scroll) * 42px);
        top: 33px;
        left: 0;
        z-index: 9;
        right: 0;
        background: var(--listBackground);
        border-radius: 6px;
        overflow-x: hidden;
        overflow-y: auto;
        transform-origin: 0 0;
        transition: opacity .2s ease, visibility .2s ease, transform .3s cubic-bezier(.4, .6, .5, 1.32);
        transform: scale(.8) translate(0, 4px);
        border: 1px solid var(--listBorder);
        
        li {
            opacity: 0;
            transform: translate(6px, 0);
            transition: all .3s ease;
            a {
                cursor: pointer;
                display: block;
                padding: 10px 16px;
                color: var(--listText);
                text-decoration: none;
                outline: none;
                position: relative;
                transition: all .3s ease;
                &:hover {
                    color: var(--listTextActive);
                }
            }

            &.active {
                a {
                    color: var(--listTextActive);
                    background: var(--listActive);
                    &:before,
                    &:after {
                        --scale: .6;
                        content: '';
                        display: block;
                        width: 10px;
                        height: 2px;
                        position: absolute;
                        right: 17px;
                        top: 50%;
                        opacity: 0;
                        background: var(--listText);
                        transition: all .2s ease;
                    }

                    &:before {
                        transform: rotate(45deg) scale(var(--scale));
                    }

                    &:after {
                        transform: rotate(-45deg) scale(var(--scale));
                    }
                    
                    &:hover {
                        &:before,
                        &:after {
                            --scale: .9;
                            opacity: 1;
                        }
                    }
                }
            }

            &:first-child {
                a {
                    border-radius: 6px 6px 0 0;
                }
            }

            &:last-child {
                a {
                    border-radius: 0 0 6px 6px;
                }
            }
        }
    }

    &.filled {
        & > span {
            color: var(--textFilled);
        }
    }

    &.open {
        & > span {
            border-color: var(--borderActive);
            &:before,
            &:after {
                background: var(--arrowActive);
            }
            &:before {
                transform: scale(.96, .8) rotate(-50deg);
            }
            &:after {
                transform: scale(.96, .8) rotate(50deg);
            }
        }
        
        ul {
            opacity: 1;
            visibility: visible;
            transform: scale(1) translate(0, 12px);
            transition: opacity .3s ease, visibility .3s ease, transform .3s cubic-bezier(.4, .6, .5, 1.32);
            li {
                opacity: 1;
                transform: translate(0, 0);
                $i: 1;
                @while $i <= 10 {
                    $delay: $i * 80;
                    &:nth-child(#{$i}) {
                        transition-delay: #{$delay}ms;
                    }
                    $i: $i + 1;
                }
            }
        }
    }
}

select {
    &.dropdown {
        padding: 9px 16px;
        border-radius: $b-radius;
        line-height: 22px;
        font-size: 1.5rem;
        font-family: inherit;
        -webkit-appearance: none;
    }
}