.box-recommandations{
    width: 70%;
    padding: 2rem;
    margin: auto;
    min-height: 30rem;
    box-shadow: 0 0 37px rgba(8, 21, 66, 0.05);

    &__item{
        width: 50%;
        min-height: 10rem;
        margin: auto;
        text-align: center;

        & .recommandation-img{
            width: 100%;
            height: 10rem;
            overflow: hidden;

            & img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }

    &__description{
        padding: 2rem 5rem;
    }

    &__partage{
        text-align: center;

        & .link{
            & a{
                margin: 0 .5rem;
            }
        }

        & img{
            height: 1.5rem;
            margin: 0 .3rem .5rem 0;
        }
    }

    @include responsive(tab-land){
        &__item{
            width: 100%;
            min-height: 10rem;
        }
    }

    @include responsive(tab-port){
        width: 80%;
        margin-bottom: 5rem;

        &__description{
            padding: 2rem 0;
        }
    }

    @include responsive(phone){
        width: 90%;

        &__item{

            & .recommandation-img{
                width: 6rem;
                height: 6rem;
                margin: auto;
            }

            & p{
                font-size: 1rem;
            }
        }
    }
}